@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap');

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Baloo Bhai 2', cursive;
  height:100%;
  overflow:scroll;
}

a {
  color: #00B7FF;
}
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
